<h1>Popular posts</h1>

<% @posts.each do |post| %>
<div class='post'>
  <span class='post post-title'><%=h post.title %></span>
  <span class='posted-at'><%=h post.created_at.strftime("%B %d, %Y") %></span>
  <p><%=h post.content %></p>
  <p class='comments-amount' data-id='<%= post.id %>'>Comments: <%=h post.comments.count %></p>
  <div class='comments'></div>
</div>
<% end %>

<br />

<div id='comments-tmpl'>
  <div class='tmpl'>
    <p class='commenter'></p>
    <p class='content'></p>
    <p class='made'></p>
  </div>
  <div class='container'></div>
</div>

<script>
$(document).ready(function() {
  $('.comments-amount').on('click', function(e) {
    var $tmpl = $('#comments-tmpl .tmpl'),
        element = $(this),
        $container = element.parent().find('.comments');

    if ($container.hasClass('active')) {
      $container.html('').removeClass('active');
    } else {
        $.getJSON('/comments/index?post_id=' + element.data('id')).success(function(data) {
            $(data).each(function(i, d) {
              var $commentEl = $tmpl.clone(),
                  comment = d.comment;

              $commentEl.attr('class', 'comment');
              $commentEl.find('.commenter').text(comment.commenter);
              $commentEl.find('.content').text(comment.body);
              $commentEl.find('.made').text(comment.created_at);

              $container.append($commentEl);
            });
            $container.addClass('active');
        });
    }

    e.preventDefault()
  })
});

</script>