<h1>My posts</h1>

<% @posts.each do |post| %>
<div class='post'>
  <span class='post post-title'><%=h post.title %></span>
  <span class='posted-at'><%=h post.created_at.strftime("%B %d, %Y") %></span>
  <span class='posted-at'><%= link_to 'Edit', edit_post_path(post) %></span>
  <span class='posted-at'><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></span>
  <p><%=h post.content %></p>
  <p class='comments-amount'>Comments: <%=h post.comments.count %></p>
</div>
<% end %>

<%= link_to 'New post', new_post_path %>