<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @post.content %>
</p>

<% form_for([@post, @post.comments.build]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<a href='#' id='show_comments'>Comments</a>
<div class='comments'>
  <div class='tmpl'>
    <p class='commenter'></p>
    <p class='body'></p>
  </div>
  <div class='container'></div>
</div>
<script>
$(document).ready(function() {
  $('#show_comments').on('click', function(e ) {
    var $tmpl = $('.comments .tmpl'),
        $container = $('.comments .container')

    $.getJSON('/comments/index?post_id=' + <%= "#{@post.id}" %>)
      .success(function(data) {
        $(data).each(function(i, d) {
          var $commentEl = $tmpl.clone(),
              comment = d.comment

          $commentEl.attr('class', 'comment')
          $commentEl.find('.commenter').text(comment.commenter)
          $commentEl.find('.body').text(comment.body)

          $container.append($commentEl)
        })
      })

    e.preventDefault()
  })
})
</script>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |
<%= link_to 'Manage Comments', post_comments_path(@post) %>
